/* ------------ CSS PROPERTIES ------------*/
:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-ml: 1.5rem;
    --space-lg: 2rem;
    --space-lg1: 2.5rem;
    --space-xl: 3rem;
    --space-xxl: 6rem;
    --font-sz-med: 1.2rem;
}

/* ------------ CSS RESET ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ------------ UTILITIES ------------ */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.reverse {
    flex-direction: row-reverse;
}

.bkg-lightgray {
    background-color: #f6f7f7;
}

.bkg-white {
    background-color: #fff;
}

.txt-white {
    color: #fff;
}

.txt-violet {
    color: #7289da;
}

.title-size {
    font-size: var(--space-xl);
    font-weight: 700;
    padding: 0 0 var(--space-ml) 0;
}

.subtitle-size {
    font-size: var(--space-lg1);
    font-weight: 700;
    padding: 0 0 var(--space-ml) 0;
}

.paragraphs {
    font-size: var(--space-md);
    line-height: var(--space-lg);
    padding: 0 0 var(--space-ml) 0;
}

button {
    cursor: pointer;
    font-size: var(--font-sz-med);
    border-radius: 23px;
    padding: 10px 15px;
    border-style: none;
    text-align: center;
}

/* NAV */

.top-nav {
    min-height: 100px;
    display: flex;
    background-color: #255ee9;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.logo {
    text-align: left;
    flex-basis: 15%;
}

.nav-links {
    text-align: center;
    flex-basis: 40%;
}

.login {
    text-align: right;
    flex-basis: 15%;
    font-size: 16px;
}


.nav-links button {
    background-color: unset;
    border-style: none;
    padding: var(--space-md);
    color: #fff;
}

.login button {
    color: black;
    background-color: #fff;
    border-color: #fff;
}

/* HEADER */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section {
    flex-basis: 40%;
    height: 250px;
    text-align: center;
}

.fas {
    font: 10px solid black;
}

.open-browser {
    padding: 13px 1.5rem;
    background-color: #23272a;
}

.download-mac {
    padding: 11px 1.5rem;
}

/* MAIN */

main>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.main {
    height: 500px;
    flex-basis: 70%;
    display: flex;
    justify-content: flex-start;
}

section .img {
    flex-basis: 70%;
    height: 100%;
}

.groups img {
    align-self: flex-start;
    margin-top: -32px;
}

.friends img {
    margin-top: -32px;
}

.community img {
    margin-top: -15px;
}

section .about {
    flex-basis: 30%;
    height: 100%;
}

#about-final {
    height: 1000px;
}

#about-final section {
    height: 750px;
    text-align: center;
    flex-direction: column;
}

.about-content p {
    padding: 0 30px;
}

#about-final h4 {
    background-image: url(../img/stars.svg);
    background-size: 42%;
    background-position: top;
    background-repeat: no-repeat;
    font-size: var(--space-ml);
    font-weight: 700;
    padding: var(--space-ml) 0 var(--space-ml) 0;
}

#about-final .download-mac {
    background-color: #8fa0e1;
}

/* WAVE */
.wave {
    background-image: url(../img/wave.svg);
    height: 150px;
    opacity: 0.03;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.upside-down {
    rotate: 0.5turn;
}

/* FOOTER */

footer {
    background-color: #23272a;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.footer-top,
.footer-bottom {
    flex-basis: 70%;
    display: flex;
}

.footer-top {
    padding: var(--space-xxl) 0 var(--space-lg) 0;
    border-bottom: 1px solid #8f9fe131;
}

#social {
    flex-basis: 40%;
    border: none
}

#social h4 {
    font-size: var(--space-ml);
    font-weight: bold;
    padding: 0 0 var(--space-ml) 0;
}

.ita-flag {
    height: 1rem;
    padding-top: 2px;
}

.lang {
    border-style: none;
    background: none;
}

.navigazione {
    flex-basis: 15%;
    height: 100%;
}

.social-icons img {
    color: #fff;
    height: 1.5rem;
    margin: 10px 5px 0 5px;
}

footer h4 {
    font-size: var(--font-sz-med);
}

ul * {
    text-decoration: none;
    list-style: none;
    margin-top: 1rem;
}

.footer-bottom {
    margin: var(--space-lg) 0 var(--space-xxl) 0;
    justify-content: space-between;
}

.register {
    background-color: #8fa0e1;
}

a {
    text-decoration: none;
}