/* ------------ CSS PROPERTIES ------------*/
:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --font-sz-med: 1.2rem;
}

/* ------------ CSS RESET ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ------------ UTILITIES ------------ */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.reverse {
    flex-direction: row-reverse;
}

.bkg-lightgray {
    background-color: lightgray;
}

/* NAV */

nav {
    min-height: 100px;
    display: flex;
    background-color: #3161e0;
    justify-content:center;
    align-items: center;
    padding: 30px 0;
}

/*nav div {
    height: 75px;
    margin: var(--space-sm) 0;
}*/

.logo {
    text-align: left;
    flex-basis: 15%;
}

.nav-links {
    text-align: center;
    flex-basis: 40%;
}

.login {
    text-align: right;
    flex-basis: 15%;
}

button {
    cursor:pointer;
    font-size: var(--font-sz-med);
}

.nav-links button {
    background-color: unset;
    border-style: none;
    color: #fff;
    padding: var(--space-md);
}

.login button {
    color: black;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 1rem;
    border-color: #fff;
    border-style: none;
}

/* HEADER */

header {
    background-color: rgba(0, 255, 255, 0.295);
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section {
    flex-basis: 40%;
    background-color: gold;
    height: 250px;
}

/* MAIN */

main {
    background-color: gray;
}

main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 750px;
}

.main {
    height: 500px;
    flex-basis: 70%;
    background-color: lightgreen;
    display: flex;
    justify-content: flex-start;   
}

section .img {
    flex-basis: 60%;
    height: 100%;
    background-color: burlywood;
}

section .about {
    flex-basis: 40%;
    height: 100%;
    background-color: rgb(207, 128, 23);
}


#about-final {
    height: 1000px;
}

#about-final .main-container {
    height: 750px ;
}

/* FOOTER */ 

footer {
    background-color: rgb(117, 21, 21);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.footer-top, .footer-bottom {
    height: 200px;
    flex-basis: 70%;
    background-color: rgb(0, 61, 0);
    display: flex;
    
}

.footer-top {
    border-bottom: 2px solid #374156;
}

#about-company {
    height: 750px;
    background-color: black;
}

#social {
    flex-basis: 40%;
    background-color: antiquewhite;
    border: none
}
.navigazione {
    flex-basis: 15%;
    background-color: #fff;
    height: 100%;
    border: 1px solid blue;
}
